:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  user-select: none;
  cursor: default;
  overflow: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Gentium";
  src:
    url("@/assets/Gentium/Gentium-Regular.woff2") format("woff2"),
    url("@/assets/Gentium/Gentium-Regular.woff") format("woff"),
    url("@/assets/Gentium/Gentium-Bold.woff2") format("woff2"),
    url("@/assets/Gentium/Gentium-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gentium-Bold";
  src:
    url("@/assets/Gentium/Gentium-Bold.woff2") format("woff2"),
    url("@/assets/Gentium/Gentium-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
